<p class="edit-bar">
    Editor Mode<br>
    ---------------
</p>

{{{body}}}
<div class="submit-button">
    <button id="save-changes-btn">
        Save Changes
    </button>
</div>
<!-- editor specifics scipts -->

<script src="/node_modules/alloyeditor/dist/alloy-editor/alloy-editor-all-min.js"></script>
<script src="assets/js/editor.js"></script>
