<html>
<head>
<link href="/assets/css/stylesheet.css" rel="stylesheet" media="all">
</head>
<body>
<div class="wrapper">
<h1><%= homepage.title %></h1>
<p><%= homepage.content %></p>
</div>
</body>
</html>
