
<section id="titleText" name="title">
    {{{ homepage.titleText }}}
</section>
<section id="pageContent" name="content">
    {{{ homepage.pageContent }}}
</section>


{{#if other}}
<a href="{{other.link}}">Switch to {{other.name}} mode</a>
{{/if}}
