<!DOCTYPE html>
<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" media="all">
<link href="/assets/css/stylesheet.css" rel="stylesheet" media="all">

<title>Site - {{ title }}</title>
</head>

<body>
<div class="wrapper">
{{{body}}}
</div>
</body>
</html>
