<!DOCTYPE html>
<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" media="all">
<link href="/node_modules/alloyeditor/dist/alloy-editor/assets/alloy-editor-atlas-min.css" rel="stylesheet" media="all" >
<link href="/assets/css/stylesheet.css" rel="stylesheet" media="all">

<title>Site - {{ title }}</title>
</head>

<body>
{{#if loggedIn}}
<div class="wrapper" style="border-top: 15px solid #cfc;">
{{else}}
<div class="wrapper" style="border-top: 15px solid #ccf;">
{{/if}}
{{{body}}}
{{#if loggedIn}}
<div class="half-box">
<a href="/logout">Logout</a>
</div>
{{/if}}
</div>
</body>
</html>
