<form action="/login" method="post">
    <p>
        <label>Username:<br>
            <input type="text" name="username"  />
        </label>
    </p>
    <p>
        <label>Password:<br>
            <input type="password" name="password"  />
        </label>
    </p>
    <div class="half-box">
        <button type="submit">Log In</button>
    </div>


</form>
