/*style sheet*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #dfdfdf;
}
.wrapper {
    background-color: #fff;

    padding: 25px;
    width: 100%;
    /*border: 1px solid #000;*/
    
    display: inline-block;
}


@media all and (min-width: 504px) {
    .wrapper {
        margin: 100px 75px;
        width: calc(100% - 200px);
        -webkit-box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.29);
        -moz-box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.29);
        box-shadow: 9px 9px 5px -4px rgba(0,0,0,0.29);
    }
}


.submit-button {
    margin-top: 25px;
    /*text-align: right;*/
    width:50%;
    float: left;
    background: #dfdfdf;
    /*padding: 10px;*/
}
.half-box {
    float: left;
    width: 50%;
    margin-top: 25px;
}

.half-box  button{
    background-color: #aaa;
    color: #fff;
    padding: 15px;
    border: none;
}

.half-box button:hover {
    background: #ccf;
    text-decoration: underline;
    cursor: pointer;
}

.half-box a{
    background-color: #aaa;
    color: #fff;
    padding: 15px;
    border: none;
    text-decoration: none;
    display: inline-block;
}

.half-box a:hover {
    background: #ccf;
    text-decoration: underline;
    cursor: pointer;
}
